*,
*::before,
*::after {
	content: '';
	box-sizing: border-box;
}
* .container {
}
body {
	margin: 0;
}
body::before {
	content: '';
	height: 100%;
	z-index: -1;
	width: 100%;
	background-image: url('https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
	background-repeat: no-repeat;
	size: 100%;
	position: fixed;
	background-size: cover;
	filter: blur(2px);
	background-position: center;
}
