*,
*::before,
*::after {
	content: '';
	box-sizing: border-box;
}
body {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	grid-template-areas: '. form .';
	margin: 0;
}
body::before {
	content: '';
	margin: 0;
	left: -10px;
	top: -10px;
	height: 110%;
	width: 110%;
	z-index: -1;
	background-image: linear-gradient(
			115deg,
			rgba(158, 58, 111, 0.8),
			rgba(136, 186, 206, 0.863)
		),
		url('https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
	background-repeat: no-repeat;
	position: fixed;
	background-size: cover;
	/* background-position: center; */
	filter: blur(2px);
}
.container {
	display: grid;
}

#form {
	grid-area: form;

	margin-top: 50px;
	bottom: 0;
}
div > header,
div > p {
	text-align: center;
}
